<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<listeners>
		<listener class-name="com.swaglab.utilities.Reporting"></listener>
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			
			<class name="com.swaglab.testCases.TC_LoginTest_001" />
			<class name="com.swaglab.testCases.TC_HomePageTest_002" />
			<class name="com.swaglab.testCases.TC_CartPage_003" />
			<class name="com.swaglab.testCases.TC_CheckoutInfo_004" />
			<class name="com.swaglab.testCases.TC_CheckoutDisc_005" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->